a{
    background-color: rgb(217, 233, 237);
    padding: 2px 45.5px;
    text-decoration: none;
    color: black;
    /* border-style:solid; */
    border-radius:  16px;
}
a:hover{
    background-color: rgb(116, 179, 199);
}
body{
    margin: 15px;
    background-color: #c0d4e8;
}
.month{
    border: 2px  solid black;
    position: fixed;
    padding: 17px 2px;
    border-radius: 9px;
    background-image: url(dotted.jpg);
}
 .container{
    border-radius: 5px;
    float: right;
    border: 2px solid black;
    padding: 3px 3px;
    padding-bottom: 53mm;
    background-color: #c0d4e8;

 }
 
 .todo-container{
    border: 1px dotted rgb(64, 64, 65);
    border-radius: 10px;
 }
 .column-align{
    columns: 100px 3;
    /* column-gap: 20px; */
 }
 .timeline
 {
    float: right;
 }
/* hr{
    padding-top: 50px;
    border: 2px double black;
    border-radius: 10px;
} */

/* .color1 {color: #060606;}
.color2 {color: #1c2942;}
.color3 {color: #4f5e8f;}
.color4 {color: #8a9ddc;}
.color5 {color: #c0d4e8;} */
#draw{
    padding-left: 1000px;
}
#paint{
    border: 2px solid black;
    border-radius: 10px;
    /* padding-left: 900px; */
    width: 31%;
    position: absolute;
    /* background-color: white; */
  top: 88px;
  right: 20px;
}